<<<<<<< HEAD
body {
    margin: 0;
    padding:0;
}



.glyphicon-arrow-left {
    font-size:20px;
    color: white;
}

.glyphicon-plus {
    font-size:15px;
    color: white;
}
.glyphicon-play{
    font-size:100px;
    color: white;
    margin-top: 50px;
    margin-left: 50px; 
}

.glyphicon-star {
    font-size:60px;
    color: white;
}

.glyphicon-play {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
   0% {
   -webkit-transform: scale(1.0) rotate(0deg);
 }
 33% {
   -webkit-transform: scale(1.1) rotate(-5deg);
 }
 67% {
   -webkit-transform: scale(1.1) rotate(5deg);
 }
 100% {
   -webkit-transform: scale(1.0) rotate(0deg);
 }
}


.movie-poster {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 600px;
    background-image:url(../img/MV5BMzQxNzQzOTQwM15BMl5BanBnXkFtZTgwMDQ2NTcwODM@._V1_.jpg);
    background-size: cover;
    float: left;
}
.movie-title {
    width:700px;
    height:100px;
    margin-left: 50px;
    float: left;
}

.movie-title {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 50px;
    letter-spacing: 10px;
}

.year {
    width:100%;
    height:70px;
    float: left;
}

.year-type {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 60px;
    margin-top: -10px;
    letter-spacing: 5px;
    float: left;
}
.bracket-one {
    font-size:50px;
    color: white;
    margin-left: 150px;
    float: left;
}

.bracket-two {
    font-size:50px;
    color: white;
    float: left;
}

=======
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

header{
    background: #dc2543;
    
}

.navbar{
    padding: 20px;
    
}

.nav-item{
    width: 140px;
    height: 50px;   
    
}

.nav-link{
    color: #ffffff;
    
}

.nav-link:hover{
    color: #f2f2f2;
    text-decoration: underline solid white;
    
}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    color: #262626;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5-
}
.navbar-light .navbar-nav .navitem .nav-link:hover,

.navbar-light .navbar-nav .navitem.active .nav-link{
    color: #ffffff;
}

.navbar-light .navbar-nav .navitem .nav-link{
    color: #262626;
    padding: 5px 15px;
}

.navbar-light navbar-toggler{
    border: none;
    color: #ffffff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: 0;
}

.navbar-collapse{
    border: none;
}

.navbar-toggler-icon{
    color: #ffffff;
}

.collapse navbar-collapse{
    margin-right: 200px;
}

/* footer */

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

