body {
    margin-top: 70px;
    padding: 0;
}

.movie-poster{
    width: 100%;
    height: 100%;
}

.navbar-brand{
    width: 30px;
}

.navbar-brand img{
    height: 40px;
    float: left;
    margin-left: 7px;
}

.nav-link img{
    border-radius: 50%;
    height: 40px;
    float: right;
}

.nav-link p{
    float: right;
}

.link-nav{
    margin-top: 7px;
}





















