body{
  position: relative;
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
    margin-top: 100px;
}

.header-container{
    margin-top: 30px;
    margin-bottom: 15px;
}

.navbar-brand{
    width: 30px;
}

.navbar-brand img{
    height: 40px;
    float: left;
    margin-left: 7px;
}

.nav-link img{
    border-radius: 50%;
    height: 40px;
    float: right;
}

.nav-link p{
    float: right;
}

.link-nav{
    margin-top: 7px;
}

/* FILTER FILTER FILTER FILTER FILTER FILTER FILTER FILTER FILTER FILTER */
.wrap {
  position: absolute;
  right: 0;
  top: 40%;
  width: 350px;
  left: 0;
  margin: 0 auto;
}

.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
    margin: auto;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}

.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #dc2543;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

.select-bar {
	position: relative;
	display: block;
	width: 100%;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #dc2543;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* LIBRARY LIBRARY LIBRARY LIBRARY LIBRARY LIBRARY LIBRARY LIBRARY */
.entry-line{
    height: 300px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.entry{
    height: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.entry-poster{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    position: relative;
}

.entry-poster img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.overlay{
    width: 155px;
    height: 210px;
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    border-radius: 5px;
}

.overlay:hover{
    opacity: 1;
}

.overlay h3{
    color: white;
    margin-top: 10%;
}

.entry-details{
    width: 100%;
    height: 40px;
}

.entry_title{
    overflow: hidden;
}

.entry-details p{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
}

.overlay-btns{
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.overlay p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5%;
}

.movie-overview{
    display: none;
}

.add-watchlist-btn{
    height: 90%;
    width: 47.5%;
    margin: auto;
    border-radius: 5px;
    background-color: #dc2543;
    color: white;
    float: right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.add-watchlist-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.read-more-btn{
    height: 90%;
    width: 47.5%;
    margin: auto;
    border-radius: 5px;
    background-color: #dc2543;
    color: white;
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer
}

.read-more-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (max-width: 768px){      /* XSMALL SCREENS */
    .entry-line{
        height: 270px;
    }
    
    .entry-details p{
        font-size: 12px;
    }
    
    .add-watchlist-btn{
        text-align: center;
    }
    
    .add-watchlist-btn img{
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    
    .add-watchlist-btn p{
        display: none;
    }
    
    .read-more-btn{
        text-align: center;
    }
    
    .read-more-btn img{
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    
    .read-more-btn p{
        display: none;
    }
    
    .overlay{
        width: 197px;
        height: 215px;
    }
    
    .overlay h3{
        font-size: 16px;
    }
    
    .overlay-btns{
        height: 30px;
    }
    
    .entry-poster{
        height: 80%;
    }
    
    .read-more-btn img{
        width: 20px;
    }
    
    .read-more-btn p{
        display: none;
    }
    
    .add-watchlist-btn img{
        width: 20px;
    }
    
    .add-watchlist-btn p{
        display: none;
    }
    
    .remove-btn p{
        display: none;
    }
    
    .remove-btn img{
        width: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px){       /* SMALL SCREENS */
    .entry-line{
        height: 240px;
    }
    
    .select-label{
        font-size: 16px;
    }
    
    .entry-details p{
        font-size: 11px;
    }
    
    .entry-poster{
        height: 60%;
    }
    
    .overlay{
        width: 85px;
        height: 145px;
    }
    
    .overlay h3{
        font-size: 16px;
    }
    
    .read-more-btn img{
        width: 20px;
    }
    
    .read-more-btn p{
        display: none;
    }
    
    .add-watchlist-btn img{
        width: 20px;
    }
    
    .add-watchlist-btn p{
        display: none;
    }
    
    .remove-btn p{
        display: none;
    }
    
    .remove-btn img{
        width: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){       /* MEDIUM SCREENS */
    .entry-line{
        height: 250px;
    }
    
    .overlay{
        width: 125px;
        height: 175px;
    }
    
    .read-more-btn img{
        display: none;
    }
    
    .add-watchlist-btn img{
        display: none;
    }
    
    .remove-btn img{
        display: none;
    }
}

@media (min-width: 1200px){         /* LARGE SCREENS */
    .entry-line{
        height: 300px;
    }
    
    .read-more-btn img{
        display: none;
    }
    
    .add-watchlist-btn img{
        display: none;
    }
    
    .remove-btn img{
        display: none;
    }
}