body{
    
}

/* NAVIGATION-BAR NAVIGATION-BAR NAVIGATION-BAR */
#navbar-items{
    color: white;
}

/* LIBRARY-PAGE LIBRARY-PAGE LIBRARY-PAGE */
.library-header{
    margin-top: 10px;
    margin-bottom: 10px;
}

.library-entry{
    background-image: url(../img/blade_runner.jpg);
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.library-entry:hover{
    opacity: 0.5;
}

.entry-info{
    display: none;
}

@media and (min-width: 1200px){
    .library-entry{
        margin-bottom: 15px;
        height: 500px;
    }
}

.library-entry-row{
    height: 200px;
    width: 100%;
}

.filter-btn{
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-top: 10px;
}

.filter-area{
    position: relative;
    text-align: center;
}

.filter-area select{
    border-radius: 5px;
    margin-left: 50px;
    width: 100px;
    height: 30px;
}