/*FONTS*/
/*
font-family: 'Archivo', sans-serif;
font-family: 'Roboto', sans-serif;
*/

<<<<<<< HEAD
body {
    margin:0;
    padding:0;
}

=======
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container-fluid{
    padding: 0px;
}

.narrow{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    
}

.carousel-control-next-icon .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 150px;
    background: no-repeat 50%/100% 100%;
}




.btn-md{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

.carousel-item{
    width: 100%;
    height: 70vh;
    margin-top: 100px;
    background-size: cover;
}
.carousel-caption{
    position: absolute;
    top: 25%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h1{
    font-size: 3.8rem;
    font-weight: 300;
    letter-spacing: .3rem;
    
}

.carousel-caption h3{
    font-size: 30px;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

btn-lg{
    border-width: medium;
    border-radius: 5px;
    font-size: 1.1rem;
}

.jumbotron{
    border-radius: 5px;
    padding: 3rem;
    margin-bottom: 0;
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    padding-top: 50px;
}

.heading-underline{
    width: 7rem;
    height: .3rem;
    background-color: #dc2543;
    margin: 0 auto 1rem;
}

.portfolio img{
    width: 100%;
    transition: transform .5s ease;
}


.portfolio{
    overflow: hidden !imo;
    margin: 10px 10px 10px 10px;
}

.row.no-padding [class*=col-]{
    padding: 0;
}
/* poster paddings setting */

.card {
    margin: 2rem;
}


.get-moovee-image img{
    width: 95%;
    height: 70%;
}

.card-body h4 {
    font-size: 20px;
}
h4{
    font-size: 18px;
}

.message-container{
    background-color: antiquewhite;
    height: 500px;
   
}

.get-moovee-image{
    background-color: aqua;
    height: 100%;

}

.did-you-know{
    background-color: aquamarine;
}

.social-media-container{
    background-color: pink;
    height: 150px;
}

.footer-copyright{
    background-color: plum;
}
h5{
    text-align: left;
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media(max-width: 767px){
    .carousel-caption h1{
    font-size: 1.5rem;   
    letter-spacing: .15rem;
    padding-bottom: .5rem;
}

    .carousel-caption h3{
        font-size: 0.8rem;
        padding-bottom: 1.2rem;
    }

    btn-lg{
        font-size: 1rem;
    }
    .narrow h1{
        font-size: 1.5rem;
    }
    p.lead{
        font-size: 1rem;
    }
}

/*section use to set transformation setting*/
    
>>>>>>> 366f5061e578f1a2f93350459386a09c5122c64f
