.navbar {
    background-color: red;
    color: white;
}


.movie-box{
  background-color: honeydew;
  height: 250px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.movie-box-title h2{
  text-align: center;
  margin: 0 auto;
  background-color: pink;
}

/* .box-img{
  height: 150px;
  width: 125px;
  border-radius: 5px;
  background-color: orange;
  text-align: center;
} */

.box-cover{
  background-color: powderblue;
  height: 190px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid grey;
}